      <!-- end banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage text_align_left">
                    <h2>About Our Honey</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have sufferedThere are many variations of passages of Lorem Ipsum available, but the majority have sufferedThere are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    </p>
                    <a class="read_more" asp-controller="About" asp-action="Index">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img text_align_center">
                    <figure><img class="img_responsive" src="images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- quality -->
<div class="quality">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Quality OF Honey For sale</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but There are many variations of passages of Lorem Ipsum available, but
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality1.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality2.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality3.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality4.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality5.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality6.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality7.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="quality-box ">
                    <figure><img src="images/quality8.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-sm-12">
                <a class="read_more" href="Javascript:void(0)">See More</a>
            </div>
        </div>
    </div>
</div>
<!-- end quality -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 ">
                <form id="request" class="main_form">
                    <div class="row">
                        <div class="col-md-6 ">
                            <input class="contactus" placeholder="Full Name" type="type" name=" Name">
                        </div>
                        <div class="col-md-6">
                            <input class="contactus" placeholder="Email" type="type" name="Email">
                        </div>
                        <div class="col-md-6">
                            <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">
                        </div>
                        <div class="col-md-6">
                            <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- contact -->
<!-- honey_bg -->
<div class="honey_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <figure><img class="img_responsive" src="images/honet_img.png" alt="#" /></figure>
            </div>
        </div>
    </div>
</div>
<!-- end honey_bg -->